body{
	padding-bottom: 13px;
	background-color: #686869;
	width: 80%; 
    margin: 0 auto;
    font-family: Verdana, Sans-serif;
}
#container{
	background-color: rgb(200,200,200);
	margin: 0 auto;
	text-align: left;
	position:center;
	padding-top: 15px;
	padding-bottom:35px;
	width:90%;
}
#container{
	background-color: rgb(200,200,200);
	margin: 0 auto;
	text-align: left;
	position:center;
	padding-top: 15px;
	padding-bottom:35px;
	width:90%;
}

img#logo, img.nomenpic{
	display:block;
	margin: 0 auto;
}
#navbar{
	background-color:rgb(10,10,10);
	width:85%;
	height:60px;
	font-family: Verdana,Helvetica,Sans-serif;
	text-decoration:none;
	padding-top: 1px;
	text-align:center;
	margin: 0 auto;	
}
.navitems{
	text-align:center;
	display:inline;
	padding-left: 13px;
	padding-right: 27px; 
	font-family:Verdana, Helvetica, Arial, Sans-serif;
	font-size:20px;
	padding-left: auto;
	padding-right: auto;
}
#navbar ul{
	height:auto;
	list-style: none;
}
#testimonialBox{
	background-color:rgb(231,37,54);
	width:85%;
	height:50px;
	color:rgb(200,200,200);
	font-size:30px;
	font-family: Verdana, Helvetica,Sans-serif;
	margin:0 auto;
	padding-left: auto;
	padding-right: auto;
	text-align:center;
}
#testimonial{
	padding-top:3px;
}
#comingsoon{
	text-align:center;
}
#namingrules{
	margin:0 auto;
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
}
#footer{
	text-align: center;
}
form{
	text-align:center;
	position:center;
}
input{
	text-align:left;
	position:center;
}
p,h1,h2{
	width:85%;
	margin-left: auto;
	margin-right:auto;
}
h2{
	color:rgb(239,58,68);
}
table{
	border: 1px solid black;
	margin: 0 auto;
	text-align:center;
}
a:link{
	text-decoration: none;
	color: #62C1F5;
}
a:hover{
	color:#FF0066;
}
a:visited{
	color:rgb(169,60,232);
}



